<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg"
        style="background-color:#1a1f36; border-bottom: 2px solid #444; padding: 0.5rem 1rem; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
        <div class="container-fluid mx-3">
            {%if user.is_authenticated %}
            <h4 class="navbar-brand mt-2" href=""
                style="font-size: 1.7rem; font-family: Georgia, serif; font-weight: bold; color: #d4af37; ">
                ⚖️ LawFirmPro
            </h4>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"
                    style="font-size: 1.05rem; font-family: 'Segoe UI', sans-serif; display: flex; justify-content: space-around; align-items: center; width: 30vw;">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="{% url 'home' %}"
                            style="font-weight: 500;color: #dcdcdc;">
                            <i class="ri-home-4-line"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="{% url 'lawfirm' %}"
                            style="font-weight: 500;color: #dcdcdc;">
                            <i class="ri-scales-3-fill"></i> Advocate
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="{% url 'lawyers' %}"
                            style="font-weight: 500;color: #dcdcdc;">Lawyers
                        </a></li>

                </ul>
            </div>
            <h5
                class="user border px-3 py-2 border-2 rounded-5 border-primary text-primary-emphasis bg-body font-monospace">
                Welcome, {{user.username}}</h5>
            {%endif%}
        </div>

    </nav>
    {% block content%}
    {%endblock%}
</body>

</html>